*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background: url(bg1.jpg);
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.box2{
    display: flex;
    width: 30%;
    margin: 0 100px;
    align-items: center;
}
.box2 img{
    width: 100px;
}
.box2 a{
    text-decoration: none;
    color: #000;
}
.contact{
    position: relative;
    min-height: 90vh;
    margin-top: -50px;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text p{
    margin-bottom: 50%;
}
.container .contactInfo .box .text h3{
    font-weight: 500px;
    color: white;
}
.contactForm{
    width: 40%;
    border-radius: 40px;
    padding: 30px;
    background: rgba(0,0,0,0.4);
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 5px;
    border: 1px solid #292e2b;
    color: black;
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  textarea{
    height: 100px;
  }
  input[type=submit] {
    background-color: #bfb726;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #98a23c;
  }
  