.footer{
    background-color: rgb(20, 57, 20);
    padding: 40px 0;
    color: #fff;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: grey;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    width: 100%;
    line-height: 1.6;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size : 13px;
    color: #aaaa;
}